.userCreation-container {
    .userCreation-col {
        padding: 10px 0px ;

        .userCreation-col-content {
            margin-bottom: 24px;
            padding: 24px;
            background: #ffff;
            border-radius: 8px;
            overflow-x: auto;
        }
    }
}