$primary-color: #2563eb;
$second-color: #0000;
$white-color: #fff;
$black-color: #000;

.c-primary-color {
    color: $primary-color;
}

.c-second-color {
    color: $second-color;
}

.layout-wrapper {
    min-height: 100vh;
    margin-top: 64px;

    .layout-wrapper--margin {
        margin: 16px 0;
    }

    .container-wrapper {
        margin: 0 16px 16px 16px;
    }

    .container-title{
        font-size: 18px;
    }
}